<html xmlns="http://www.w3.org/1999/html">

<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>

<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

<script src="tiny_mce/tiny_mce.js"></script>
<script src="tiny_mce/jquery.tinymce.js"></script>
<script src="javascripts/tinymcebinding.js"></script>

<link href="stylesheets/style.css" rel="stylesheet" />

<script src="javascripts/notes.js"></script>

</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Chad's Notes</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div id="main-container" class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <table class="table" data-bind="foreach: notes">
                <tr>
                    <td data-bind="text: title, click: $parent.load"></td>
                </tr>
            </table>
        </div>
        <div class="span10">
            <div>
                <button data-bind="click: create, enable: isNewEnabled" >Create</button>
                <button data-bind="click: save, enable: isSaveEnabled" >Save</button>
            </div>

            <div>

                <fieldset>

                    <label for="titleText">Title</label>
                    <input id="noteTitle" type="text" data-bind="value: activeTitle, valueUpdate:'afterkeydown'" />
                    <label for="bodyText">Body</label>
                    <textarea id="noteBody" class="tinymce" data-bind="tinymce: activeBody, tinymceOptions: { theme: 'simple' }" />

                </fieldset>
            </div>
        </div>
    </div>
</div>

</body>

</html>
